[Unit]
Description=AqilUstun Web Admin Dashboard Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/pythonProject/Aqilliustun_bridge-main/Aqilliustun_bridge-main
ExecStart=/opt/pythonProject/Aqilliustun_bridge-main/Aqilliustun_bridge-main/venv/bin/python3 dashboard.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
