[Unit]
Description=AqilUstun SIP Bridge & Gemini Live AI Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/pythonProject/Aqilliustun_bridge-main/Aqilliustun_bridge-main
ExecStart=/usr/bin/python3 ai_call_server.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
